{% extends 'base.html.twig' %}

{% block titre %}<h1>Catégories</h1>{% endblock %}

{% block body %}

        {% for category in categories %}
                <a class="category-name" href="{{ path('gamesByCategory', {'category': category.id}) }}">{{ category.name }}</a>
                <a class="category-edit" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                <br>
        {% else %}
        {% endfor %}

    <a class="new" href="{{ path('category_new') }}">Ajouter</a>
{% endblock %}
